* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

form, .busqueda {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input, textarea, select, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #1b1f22;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1b1f22;
}

.receta {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  position: relative;
}

.receta h2 {
  margin-bottom: 10px;
}

.botones {
  margin-top: 10px;
}

.botones button {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .contenedor {
      padding: 10px;
  }
}